<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sample Node Application</title>
  </head>
  <body>
    <h2>Sample Node Application with MongoDB</h2>

    <p>User saved using Mongoose</p>
    <ul>
      <li>Name: <strong><%= user.name %></strong></li>
      <li>Email: <strong><%= user.email %></strong></li>
      <li>Role: <strong><%= user.role %></strong></li>
    </ul>
  </body>
</html>
